Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Ignore third-party Content
Content/ParagonMinions
Content/ParagonMuriel
Content/ParagonRevenant
Content/SoulCave
Content/StarterContent
