Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Ignore third-party Content
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Characters
Content/Collections
Content/Developers
Content/LevelPrototyping
Content/ParagonMinions
Content/ParagonMuriel
Content/ParagonRevenant
Content/SoulCave
Content/StarterContent
Content/ThirdPerson
